@import url(navi.css);
@import url(forms.css);
@import url(tables.css);


body{
    margin:100px 0 0 0;
    padding:0;
    font-size:12px;
    font-family:verdana, Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    background-color:#29313C;
}

img{border:0; display:block; padding:0; margin:0;}
.clear{clear: both;}
br.clear{clear:both; margin-top:-15px;}
a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

#services{
    position:relative;
    margin:0 auto 0;
    display:block;
    width:960px;
}

#services ul, #services p, #services h2, #services img{
    margin:0;
    padding:0;
    list-style:none;
}

#services li{
    display:block;
    float:left;
    width:294px;
    height:180px;
    margin:0 9px 0 0;
    padding:10px;
    color:#666666;
    background-color:#EFEFEF;
}

#services li:hover, #services li:hover h2{
    color:#666666;
    background-color:#E5E5E5;
}

#services li.last{
    margin-right:0;
}

#services .fl_right{
    display:block;
    float:right;
    width:185px;
    padding:10px 0 0 0;
}

#services h2{
    margin:0 0 5px 0;
    padding:0 0 3px 0;
    font-size:14px;
    font-weight:bold;
    color:#666666;
    background-color:#EFEFEF;
    border-bottom-color:#666666;
}

#services p{
    margin:0;
    padding:0;
    line-height:1.6em;
}

#services p.readmore{
    display:block;
    width:100%;
    margin:15px 0 0 0;
    padding:0;
    text-align:right;
    line-height:normal;
}

#services p.readmore a{
    padding:8px 15px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#666666;
}
